.navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding:15px 15px;
list-style:none;
margin:10px 10px;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:15px 15px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
.start{background-color: rgb(66, 253, 106);

padding:100px ;
margin:auto;font-size:30px;
text-align:justify;}
.why{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:15px;}
.solution{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:15px;}
.all{padding: 10px 10px;

color:antiquewhite;
background-color: black;
border-radius: 10px;
font-size:15px;}
.whyy{background-color: rgb(161, 201, 238);

padding:100px;
font-size:34px;
text-align:justify;
}
.solutions{background-color: #15609c;
color:white;
font-size:34px;

text-align: justify;
padding:100px;
}
.alls{background-color: rgb(194, 203, 58); 
    font-size:35px;
    

text-align: justify;
padding:100px;}

@media (max-width: 768px) and (min-width:700px){
    
.navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding: 8px 8px;
list-style:none;
margin:4px 4px;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:8px 8px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
.start{background-color: rgb(66, 253, 106);

padding:50px ;
margin:auto;
    font-size:20px;
text-align:justify;}
.why{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:15px;}
.solution{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:15px;}
.all{padding: 10px 10px;

color:antiquewhite;
background-color: black;
border-radius: 10px;
font-size:15px;}
.whyy{background-color: rgb(161, 201, 238);

padding:50;
font-size:20px;
text-align:justify;
}
.solutions{background-color: #15609c;
color:white;
font-size:20px;

text-align: justify;
padding: 50px;
}
.alls{background-color: rgb(194, 203, 58); 
font-size:20px;
padding:50px;}
}
@media  (max-width:700px){
    .navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding: 6px 6px;
list-style:none;
margin:auto;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:6px 6px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
.start{background-color: rgb(66, 253, 106);

padding:30px ;
margin:auto;font-size:15px;
text-align:justify;}
.why{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:15px;}
.solution{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:15px;}
.all{padding: 10px 10px;

color:antiquewhite;
background-color: black;
border-radius: 10px;
font-size:15px;}
.whyy{background-color: rgb(161, 201, 238);

padding:30px;
font-size:15px;
text-align:justify;
}
.solutions{background-color: #15609c;
color:white;
font-size:15px;

text-align: justify;
padding: 30px;
}
.alls{background-color: rgb(194, 203, 58); 
font-size:15px;
padding:30px;
}
}
@media  (min-width:1800px) and (max-width: 2500px){
    .navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding:30px 30px;
list-style:none;
margin:15px 15px;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:30px 30px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
.start{background-color: rgb(66, 253, 106);

padding:150px;
margin:auto;
    font-size:80px;
text-align:justify;}
.why{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:50px;}
.solution{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:50px;}
.all{padding: 10px 10px;

color:antiquewhite;
background-color: black;
border-radius: 10px;
font-size:50px;}
.whyy{background-color: rgb(161, 201, 238);

padding:150px;
font-size:80px;
text-align:justify;
}
.solutions{background-color: #15609c;
color:white;
font-size:80px;

text-align: justify;
padding:150px;
}
.alls{background-color: rgb(194, 203, 58); 
font-size:80px;

text-align: justify;
padding:150px;
    }
}
@media  (min-width:2500px){
    .navbar{background-color:#d1e2f0;

border-radius:none;}
.navbar li{padding:50px 50px;
list-style:none;
margin:30px 30px;
float:left;
}
.navbar li:hover{
    color:white;
 
    background-color:#03192b ;
}
.navbar ul{overflow:auto;}
.navbar li a {padding:50px 50px;
text-decoration:none;
color:black;
}
.navbar li a:hover{color:white;}
.start{background-color: rgb(66, 253, 106);

padding:200px;
margin:auto;
    font-size:110px;
text-align:justify;}
.why{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:70px;}
.solution{padding: 10px 10px;
color:antiquewhite;

background-color: black;
border-radius: 10px;
font-size:70px;}
.all{padding: 10px 10px;

color:antiquewhite;
background-color: black;
border-radius: 10px;
font-size:70px;}
.whyy{background-color: rgb(161, 201, 238);

padding:200px;
font-size:110px;
text-align:justify;
}
.solutions{background-color: #15609c;
color:white;
font-size:110px;

text-align: justify;
padding:200px;
}
.alls{background-color: rgb(194, 203, 58); 
font-size:110px;

text-align: justify;
padding:200px;
    }
}
